/*-----------
    RESET
------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------
    GENERAL
------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.bg-gray {
    background-color: #d3d3d3;
}

/*-----------
    FONTS
------------*/
.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }

  h1{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 50px;
  }
 .description{
    color: white;
    text-align: center;
    font-size: 20px;
}

h2{
font-size: 40px;
}
.scnd-description{
    font-size: 18px;
    padding-top: 20px;
}
/*-----------
    BUTTONS
------------*/
i{
    padding-right: 10px;
}
.btn-container{
    display: flex;
    justify-content: center;

}

.btn{
    border: none;
    border-radius: 20px;
    padding: 8px 10px;
    cursor: pointer;
}

.mac, .browser{
margin-top: 20px;
padding: 12px 20px ;
}

.mac{
margin-right: 20px;
}
.browser{
    background-color: black;
    color: #fff;
}

/*-----------
    HEADER
------------*/
.header-top {
    padding: 16px 0;
    background-color: #255EE9;
}

.header-bottom {
    padding: 150px 0;
    background-image: url(img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.header-top > .container {
    display: flex;
    align-items: center;
    color: white;
}

.header-top .logo,
.header-top nav,
.header-top .login {
    padding: 6px;
}

.header-top .logo, .header-top .login {
    width: 20%;
}

.header-top .login {
    text-align: right;
}



.header-top .main-nav {
    width: 60%;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px
}

.main-nav ul a {
    text-decoration: none;
    color: inherit
}

.header-bottom .hero {
    max-width: 920px;
}

/*-----------
    MAIN
------------*/
section {
    padding: 50px 0;
}

section:nth-child(2n) {
    background-color: #d3d3d3;
}

section > .container {
    display: flex;
}

section .col-big {
    width: 60%;
}
section .col-small {
    width: 40%;
    padding: 100px;
}

#svg1{
    background-image: url(img/item1.svg);
    margin-top: 65px;
    background-repeat: no-repeat;
}

/*-----------
    FOOTER
------------*/
footer {
    background-color: #23272a;
}

.footer-top {
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer-top > .container {
    display: flex;
}

.footer-top .col-small {
    width: 30%;
}
.footer-top .col-big {
    width: 70%;
    display: flex;
}

.footer-top .col-big > .col-inner {
    width: 25%;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid #ffffff;
}

.footer-bottom > .container {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.footer-bottom .logo,
.footer-bottom .btn {
    padding: 6px 14px;
}
